<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sundram.urbanclapclone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RoandWaterActivity"></activity>
        <activity
            android:name=".WashingmachineRepair"
            android:screenOrientation="portrait"
            android:theme="@style/collapsabletoolbar" />
        <activity
            android:name=".CarpenterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/collapsabletoolbar" />
        <activity
            android:name=".PECActivity"
            android:parentActivityName=".DashBoard"
            android:theme="@style/collapsabletoolbar" />
        <activity
            android:name=".ServiceListItem"
            android:parentActivityName=".DashBoard"
            android:screenOrientation="portrait"
            android:theme="@style/collapsabletoolbar" />
        <activity
            android:name=".SofaCleaning"
            android:parentActivityName=".DashBoard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WidgetSearch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LocationOnBoarding"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OTPVerification"
            android:screenOrientation="portrait" />
        <activity android:name=".ViewAllServiceActivity" />
        <activity
            android:name=".MicroWaveRepair"
            android:screenOrientation="portrait"
            android:theme="@style/collapsabletoolbar" />
        <activity
            android:name=".RefrigeratorRepair"
            android:screenOrientation="portrait"
            android:theme="@style/collapsabletoolbar" />
        <activity android:name=".AcServiceAndRepair" />
        <activity
            android:name=".ApplianceAndEcRepair"
            android:screenOrientation="portrait"
            android:theme="@style/collapsabletoolbar" />
        <activity android:name=".LocationSelectingActivity" />
        <activity android:name=".GyserServiceAndRepair" />
        <activity android:name=".PestControl" />
        <activity android:name=".PlumberActivity" />
        <activity
            android:name=".ElectricianActivity"
            android:parentActivityName=".PECActivity"
            android:screenOrientation="portrait"
            android:theme="@style/collapsabletoolbar" />
        <activity
            android:name=".GuranteeActivity"
            android:parentActivityName=".DashBoard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FullHomeDeepCleaning"
            android:screenOrientation="portrait"
            android:theme="@style/collapsabletoolbar" />
        <activity
            android:name=".KitchenCleaningActivity"
            android:parentActivityName=".ServiceListItem"
            android:screenOrientation="portrait"
            android:theme="@style/collapsabletoolbar" />
        <activity
            android:name=".CarpetCleanigActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BathroomCleaning"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SalonAtHome"
            android:screenOrientation="portrait"
            android:theme="@style/collapsabletoolbar" />
        <activity
            android:name=".framelayout.FrameDemo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".framelayout.FrameGuideUrbanClap"
            android:screenOrientation="portrait" />
        <activity
            android:name=".framelayout.FramePayingServe"
            android:screenOrientation="portrait" />
        <activity
            android:name=".framelayout.FrameBookingServe"
            android:screenOrientation="portrait" />
        <activity
            android:name=".About"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomerSupport"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyBookingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashBoard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".OtpGeneratorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutUs"
            android:parentActivityName=".About"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OtpGeneratorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>