<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sundram.urbanclapclone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewAllServiceActivity"></activity>
        <activity android:name=".MicroWaveRepair" />
        <activity android:name=".RefrigeratorRepair" />
        <activity android:name=".AcServiceAndRepair" />
        <activity android:name=".ApplianceAndEcRepair" />
        <activity android:name=".LocationSelectingActivity" />
        <activity android:name=".GyserServiceAndRepair" />
        <activity android:name=".CarpenterActivity" />
        <activity android:name=".PestControl" />
        <activity android:name=".PlumberActivity" />
        <activity android:name=".ElectricianActivity" />
        <activity
            android:name=".GuranteeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlumberServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FullHomeDeepCleaning"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KitchenCleaningActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CarpetCleanigActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BathroomCleaning"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SalonAtHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".framelayout.FrameDemo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".framelayout.FrameGuideUrbanClap"
            android:screenOrientation="portrait" />
        <activity
            android:name=".framelayout.FramePayingServe"
            android:screenOrientation="portrait" />
        <activity
            android:name=".framelayout.FrameBookingServe"
            android:screenOrientation="portrait" />
        <activity
            android:name=".About"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomerSupport"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyBookingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DashBoard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".OtpGeneratorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutUs"
            android:parentActivityName=".About"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OtpGeneratorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>